body {
  background: rgb(152, 200, 245) !important;
}

.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
}

.login-card {
  background: white;
  padding: 32px;
  border-radius: 12px;
  width: 100%;
  max-width: 360px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-card input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-card button {
  padding: 12px;
  border-radius: 6px;
  border: none;
  background: #4f46e5;
  color: white;
  font-weight: bold;
}
